.container-cards{
    margin-top: 5em;
}
.card{
    display: inline-block;
    height: 70vh;
    margin-bottom: 5em;
}
.card-title{
    margin-top: 1em;
}
ul{
    text-align: center;
    padding-left: 10em;
}
li{
    font-size: 1.5em;
    text-align: left;
}